// tugas 10 @use
// Membuat mixin untuk tombol hover
@mixin hover-tombol {
    $button-hover-color: #d05b16;
    $button-hover-text: hsl(0, 0%, 100%);
    background-color: white;
    color: #000000;
}
@mixin tombol-awal {
    $button-hover-text: #ffffff;
    $warna-back :#000000;
    color: $button-hover-text;
    background-color: $warna-back;
}

// navbar ketika diklik
@mixin link-active-styles ($color :#ffc107) {
    // $color :#ffc107;
    color: $color;
    text-decoration: underline;
  }
  