$shadow : 4px 4px 14px #c4c4c4, -4px -4px 14px #ffffff;
$shadow-orange : 2px 2px 7px #b68b0a, -2px -2px 7px #ffca2b;
$warning : #ffc107;
$dark : #343a40;
$fSize: (
    small : 2rem,
    normal : 2.5rem
);
$buttons: (primary-fill, dark-fill, primary-outline, dark-outline);