
// tugas 10 -Modul
@use "tombol";
@import "kontak";
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:wght@100;300&display=swap');
  // gambar jumbotron
  .gambar-jumbo{
    $margin-top : -60px;
    margin-top: $margin-top;

  }

// tentang kami
$font :18px;
.tentang{
  font-size:$font;
}

// kualitas
$border-left-top : 40px;
$border-right-buttom : 40px;

.gambar_bahan{
    border-bottom-right-radius: $border-right-buttom;
    border-top-left-radius: $border-left-top ;

}

// galeri
@media (min-width: 992px) {
  .gambar2{
    height: 210px;
  }
  .gambar4{
    height: 265px;
  }
}
@media (min-width: 768px) and (max-width: 991px)  {
  .gambar1{
width: 100%;
  }
  .gambar2, .gambar3{
    height: 100px;
  }
  .gambar4{
    height: 170px;
  }
}


/* hover card */
.card-foto:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease; 
}

// Tugas 9 - Fungsi
  /* fungsi */
@function lighten($color, $amount) {
  @return mix($color, white, $amount);
}
h2#bahan {
  color: lighten(hsl(60, 3%, 7%), 60%);
  text-align: center;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
} 


// tugas 10 @use
.tombol:hover {
    @include tombol.hover-tombol;
}
.tombol{
    @include tombol.tombol-awal;
}
.nav-item .nav-link.active {
    @include tombol.link-active-styles;
  }


// tugas 11 pengondisian dan perulangan 
  .card-title {
    $default-color: #000000;
    color: $default-color;
  
    // Check jika class .text-center ada
    @if (selector-nest('.text-center', &)) {
      color: hsl(0, 0%, 0%); 
      font-size:20px;
      
    } @else {
      color: hsl(0, 62%, 35%);
      font-size:30px;
    }
  }

// perulangan 
$jumlah-section: 10;

@for $i from 1 through $jumlah-section {
  section:nth-child(#{$i}) {

    // Gaya khusus untuk setiap section
    @if $i % 2 == 0 {
      background-color: #f8f9fa
      ; // Bagi yang genap
    } @else {
      background-color: #ffffff; // Bagi yang ganjil
    }
  }
}

// footer ajakan
.resell{
  height: 450px;
}
// responsif ajak

/* Tampilan desktop */
@media (min-width: 992px) {
  .gambar-ajak{
    width: 800px;
    height: 500px;
    margin-left: -180px;
    margin-top: -48px;
  }
  .teks{
    margin-top: 150px;
    margin-left: 0;
  }
}
/* Tampilan tablet */
@media (min-width: 768px) and (max-width: 991px)  {
  .gambar-ajak{
    width: 850px;
    height: 500px;
    height: auto;
    margin-top: -27px;
    margin-left: -300px;
  }
  .teks{
    margin-top: 100px;
    margin-left: -10px;
  }
}

/* Tampilan mobile */
@media (max-width: 599px) {
  .gambar-ajak {
    width: 500px;
    height: auto;
    margin-top: -20px;
    margin-left: -120px;
  }
  .teks {
    margin-top: 20px; 
    margin-left: 0; 
  }
}



// kontak
.kontak-ikon {
  vertical-align: middle;
}
.kontak-info {
  padding-left: 10px;
}
.kontak-info2{
  margin-left: 40;
}
.maps iframe {
  border: 0;
}

.kontak-detail{
  font-size: $font;

}
/* Tampilan tablet */
@media (min-width: 768px) and (max-width: 991px)  {
  .tambah-info{
    margin-left: 0px;
  }

}
        /* CSS untuk desktop */
        .desktop {
            display: block;
        }

        /* CSS untuk mobile */
        .mobile {
            display: none;
        }

        /* Tombol "Baca Selengkapnya" */
        .read-more-button {
            display: none;
        }

        /* CSS untuk tampilan mobile */
        @media (max-width: 768px) {
            .desktop {
                display: none;
            }

            .mobile {
                display: block;
            }

            .read-more-button {
                display: inline;
            }
        }


