@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:wght@100;300&display=swap");
.kontak:hover {
  border: 2px solid;
  border-color: #ffc107;
}

.gambar-jumbo {
  margin-top: -60px;
}

.tentang {
  font-size: 18px;
}

.gambar_bahan {
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
}

@media (min-width: 992px) {
  .gambar2 {
    height: 210px;
  }
  .gambar4 {
    height: 265px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gambar1 {
    width: 100%;
  }
  .gambar2, .gambar3 {
    height: 100px;
  }
  .gambar4 {
    height: 170px;
  }
}
/* hover card */
.card-foto:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease;
}

/* fungsi */
h2#bahan {
  color: #717170;
  text-align: center;
}
@media (min-width: 768px) {
  h2#bahan {
    font-size: 2rem;
  }
}

.tombol:hover {
  background-color: white;
  color: #000000;
}

.tombol {
  color: #ffffff;
  background-color: #000000;
}

.nav-item .nav-link.active {
  color: #ffc107;
  text-decoration: underline;
}

.card-title {
  color: #000000;
  color: hsl(0, 0%, 0%);
  font-size: 20px;
}

section:nth-child(1) {
  background-color: #ffffff;
}

section:nth-child(2) {
  background-color: #f8f9fa;
}

section:nth-child(3) {
  background-color: #ffffff;
}

section:nth-child(4) {
  background-color: #f8f9fa;
}

section:nth-child(5) {
  background-color: #ffffff;
}

section:nth-child(6) {
  background-color: #f8f9fa;
}

section:nth-child(7) {
  background-color: #ffffff;
}

section:nth-child(8) {
  background-color: #f8f9fa;
}

section:nth-child(9) {
  background-color: #ffffff;
}

section:nth-child(10) {
  background-color: #f8f9fa;
}

.resell {
  height: 450px;
}

/* Tampilan desktop */
@media (min-width: 992px) {
  .gambar-ajak {
    width: 800px;
    height: 500px;
    margin-left: -180px;
    margin-top: -48px;
  }
  .teks {
    margin-top: 150px;
    margin-left: 0;
  }
}
/* Tampilan tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .gambar-ajak {
    width: 850px;
    height: 500px;
    height: auto;
    margin-top: -27px;
    margin-left: -300px;
  }
  .teks {
    margin-top: 100px;
    margin-left: -10px;
  }
}
/* Tampilan mobile */
@media (max-width: 599px) {
  .gambar-ajak {
    width: 500px;
    height: auto;
    margin-top: -20px;
    margin-left: -120px;
  }
  .teks {
    margin-top: 20px; /* Sesuaikan margin-top pada tampilan mobile */
    margin-left: 0; /* Hapus margin-left pada tampilan mobile */
  }
}
.kontak-ikon {
  vertical-align: middle;
}

.kontak-info {
  padding-left: 10px;
}

.kontak-info2 {
  margin-left: 40;
}

.maps iframe {
  border: 0;
}

.kontak-detail {
  font-size: 18px;
}

/* Tampilan tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .tambah-info {
    margin-left: 0px;
  }
}

        /* CSS untuk desktop */
        .desktop {
            display: block;
        }

        /* CSS untuk mobile */
        .mobile {
            display: none;
        }

        /* Tombol "Baca Selengkapnya" */
        .read-more-button {
            display: none;
        }

        /* CSS untuk tampilan mobile */
        @media (max-width: 768px) {
            .desktop {
                display: none;
            }

            .mobile {
                display: block;
            }

            .read-more-button {
                display: inline;
            }
        }
/*# sourceMappingURL=style.css.map */
