@import url('https://fonts.cdnfonts.com/css/stylish-classy-font');
@import url('https://fonts.cdnfonts.com/css/dist-inking');
@import url('https://fonts.cdnfonts.com/css/i-ichimaru');

$stylish: 'Stylish Classy Font', sans-serif;
$ink: 'DIST Inking Regular', sans-serif;
$ink-2: 'i Ichimaru', sans-serif;

