//tugas 10 @import
// ketika tampilan hp 
@media (max-width: 576px) {
    .lokasi, .no, .no_wa {
        font-size: 18px;
        margin-left: 45px;
        margin-top: -30px;
        font-weight: normal;
    }
  }
@media (max-width: 576px) {
    .list-kontak {
        margin-left: -45px;
    }
  }


