@import 'variables';

// Tugas Praktik 10 - Fungsi
@function cardHover($color){
    $darken : darken($color, 5%);
    @return $darken;
}
@function fontSize($fontName) {
    @return map-get($fSize, $fontName);
}

// Tugas Praktik 11 - Modul
@mixin gradientBackground($color1, $color2) {
    background: linear-gradient(to right, $color1, $color2);
    color: white;
}

body {
    background: white;
}

#why {
    padding: 5rem 0 5rem 0;
}

.img-header {
    width: 85%;
}

.card-container {
    $background-card : white;
    .card-2 {
        background: $background-card;
        height: auto;
        box-shadow:  $shadow;
        .card-img {
            width: 75px;
            margin-top: 0.4rem;
        }
        p {
            font-weight: 600;
        }
    }
    .card-2:hover{
        // Penerapan fungsi
        background: cardHover($background-card);
    }
}
.card-bs {
    box-shadow: $shadow;
    border-radius: 18px;
}

.stars {
    background: $warning;
    color: $dark;
    border-radius: 6px;
    width: max-content;
    padding: 6px 8px;
}

.btn-gradient {
    outline: none;
    // Memanggil mixin gradientBackground
    @include gradientBackground($warning, cardHover($warning))
}

.btn-dark:hover {
    background: transparent;
    color: $dark;
}
.btn-warning:hover {
    background: transparent;
    color: $dark;
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: fontSize(small);
    }
  }

