$breakpoints: (
	small: 576px,
	medium: 768px,
	large: 992px,
	xlarge: 1200px,
);

$font-weights: (
	light: 300,
	regular: 400,
	bold: 600,
);

$redColor: rgb(235, 8, 8);
// praktik 8 Variabel

@function background($color) {
	$ch: adjust-hue($color, 2);
	@return lighten($ch, 2%);
}

@function weight($weight-name) {
	@return map-get($font-weights, $weight-name);
}
// praktik 9 Fungsi

html,
body,
nav {
	max-width: 100vw;
	overflow-x: hidden;
}

.card img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

#lainnya {
	background: background(rgba(255, 199, 0, 1));
}

.redtext {
	color: $redColor;
}

.bold{
	font-weight: weight(bold);
}

.lighten{
	background: background(rgba(255, 199, 0, 1));
}